<div class="admin-radio-group">
  <mat-label>{{label}}</mat-label>
  <mat-radio-group formControlName="{{propertyName}}">
    @for (option of {{enumName}}; track option) {
      <mat-radio-button [value]="option">{{option}}</mat-radio-button>
    }
  </mat-radio-group>
  @if (form.get('{{propertyName}}')?.hasError('required')) {
    <mat-error>This field is required.</mat-error>
  }
</div>
